body {
  background-color: #232946;
  color: #b8c1ec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fffffe;
}

p {
  color: #b8c1ec;
  font-size: larger;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #eebbc3;
  cursor: default;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  /* margin: 20px;
  padding: 100px; */
}

button {
  background-color: #eebbc3;
  color: #232946;
  font-weight: bold;
}

#homebtn {
  position: relative;
  top: 30px;
}

figure .grade {
  position: relative;
  bottom: 30px;
  border-top: 1px solid #b8c1ec;
  color: #b8c1ec;
  text-align: center;
}

.questionPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer {
  width: 200px;
  margin: 5px;
  align-self: center;
}

#highscorelist {
  display: flex;
  flex-flow: column wrap;
}

.hidden {
  display: none;
}
