body {
  background-color: #232946;
  color: #b8c1ec;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fffffe;
}

p {
  color: #b8c1ec;
  font-size: larger;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid #121629;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin: 20px;
  padding: 100px;
}

button {
  background-color: #eebbc3;
  color: #232946;
  font-weight: bold;
}
.questionPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.answer {
  width: 200px;
  margin: 5px;
  align-self: center;
}

.hidden {
  display: none;
}
